ForecastAI_1_0_0_1/Workflows/ExcelImportandProcessing-459D731D-7132-4951-BFE9-86126642BFD7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr5c7_sharedcommondataserviceforapps_17c79"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "description": "Please select file or image",
                  "title": "File content",
                  "type": "object",
                  "properties": {
                    "contentBytes": {
                      "type": "string",
                      "format": "byte"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "x-ms-content-hint": "FILE",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "file"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "Import Batch",
              "$select": "ProjectID,BatchID,ProjectEndDate,ImportBatchID"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {}
        },
        "Foreach": {
          "type": "Foreach",
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Condition_2": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": "@empty(items('Foreach')?['ProjectID'])"
                  },
                  {
                    "not": "@empty(items('Foreach')?['ProjectEndDate'])"
                  }
                ]
              },
              "actions": {
                "Add_a_new_row": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cr5c7_projectmasters",
                      "item/cr5c7_projectenddate": "@formatDateTime('10-10-2020','dd-MM-yyyy')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "List_rows_2": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "Monthly Revenue",
                      "$filter": "ProjectID eq '@{items('Foreach')?['ProjectID']}' and BatchID eq '@{items('Foreach')?['BatchID']}'"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Add_a_new_row": [
                      "Succeeded"
                    ]
                  }
                },
                "Foreach_MonthlyRevenue": {
                  "type": "Foreach",
                  "foreach": "@outputs('List_rows_2')?['body/value']",
                  "actions": {
                    "Condition": {
                      "type": "If",
                      "expression": "@empty(items('Foreach_MonthlyRevenue')?['Forecast'])",
                      "actions": {
                        "Upsert_a_row": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cr5c7_monthlyrevenues",
                              "recordId": "@items('Foreach_MonthlyRevenue')?['MonthlyRevenueID']",
                              "item": {
                                "Forecast": "@items('Foreach_MonthlyRevenue')?['Actuals']",
                                "IsEstimated": true
                              }
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Upsert_a_row_2": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "cr5c7_monthlyrevenues",
                                "recordId": "@items('Foreach_MonthlyRevenue')?['MonthlyRevenueID']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "UpdateRecord",
                                "connectionName": "shared_commondataserviceforapps"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows_2": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Upsert_a_row_3": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr5c7_importbatchs",
                        "recordId": "@items('Foreach')?['ImportBatchID']",
                        "item": {
                          "ValidationFlag": "Missing ProjectID or ProjectEndDate"
                        }
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}